*~

\.fuse_hidden*

.directory

.nfs*

**/*.rs.bk


rust-project.json


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.history/

*.vsix

.history
.ionide

assignment2/target/debug
assignment2/Cargo.lock
assignment1/Cargo.lock
assignment1/target
note/assignment-3/Cargo.lock
Assignment4/target
note/target
note/assignment-3/target
note/Assignment3B/Cargo.lock
note/Assignment3B/target